<% content_for :title do %>Team Happiness<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-moreinfo="Click Here for an Overview" data-id="Axis" data-view="Home" data-title="Axis" data-suffix="%" data-cool="80" data-warm="60" onclick="location.href='http://atclvm1381.athtem.eei.ericsson.se:3032/axis_happiness'"></div>
    </li>
	
	  <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-moreinfo="Click Here for an Overview" data-id="Stratus" data-view="Home"  data-title="Stratus" data-suffix="%" data-cool="80" data-warm="60" onclick="location.href='http://atclvm1381.athtem.eei.ericsson.se:3032/stratus_happiness'"></div>
    </li>	
    
    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="Survey" data-title="Take our Survey here!" data-text="" onclick="location.href='http://atclvm1381.athtem.eei.ericsson.se/teamHappinessSurvey.html'"></div>
    </li>
  </ul>
    
  <h1 class="updated-at" data-bind="updatedAtMessage">Hello</h1>
</div>
