<% content_for :title do %>Stratus Happiness<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="DE Stratus Happiness" data-text="We've got the support to do the right thing..." onclick="location.href='http://atclvm1381.athtem.eei.ericsson.se:3032/home'"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="STRATUSMISSION" data-view="Number" data-title="Clear Mission" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
    </li>
	
	<li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="STRATUSMASTERY" data-view="Number" data-title="Building Mastery" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
    </li>
	
	<li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="STRATUSEMPOWERED" data-view="Number" data-title="Feel Empowered" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
    </li>
	
	<li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="STRATUSORGANIZATION" data-view="Number" data-title="Organization Support" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
    </li>
  </ul>
    
  <h1 class="updated-at" data-bind="updatedAtMessage">Hello</h1>
</div>
