<% content_for :title do %>Team Happiness<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="welcome" data-view="Text" data-title="Team Happiness" data-text="We've got the support to do the right thing..."></div>
      <i class="fa fa-rebel icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="MISSION" data-view="Number" data-title="Clear Mission" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
      <i class="fa fa-smile-o icon-background"></i>
    </li>
	
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="MASTERY" data-view="Number" data-title="Building Mastery" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
      <i class="fa fa-frown-o icon-background"></i>
    </li>
	
	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="EMPOWERED" data-view="Number" data-title="Feel Empowered" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
      <i class="fa fa-meh-o icon-background"></i>
    </li>
	
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ORGANIZATION" data-view="Number" data-title="Organization Support" data-moreinfo="" data-suffix="%" data-cool="90" data-warm="60"></div>
    </li>
  </ul>
    
  <h1 class="updated-at" data-bind="updatedAtMessage">Hello</h1>
</div>
